#root {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.form-container {
  border: 1px solid #000;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.radionica-div {
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem auto;
  margin-bottom: 1rem;
  width: 50%;
}

.admin-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.sidebar1 {
  position: absolute; /* Position it relative to the viewport */
  top: 87px; /* Position it under the header. Adjust this value based on the height of your header */
  left: 0; /* Position it to the left of the webpage */
  height: calc(100vh - 50px); /* Make it span the entire height of the document, minus the height of the header */
  border: 1px solid #000; /* Add a border */
  overflow: auto; /* Add scroll if content overflows */
  width: 20%; /* Double the width of the sidebar. Adjust this value based on your current width */

}

